.signOutButton:hover {
    cursor: pointer;
    color: #ffffff;
    font-weight: bolder;
}

.navbarContainer {
    padding: 0 !important;
}

.navContainer {
    display: flex !important; 
    flex-direction: column !important;
    width: 100%;
}
.container{
    height:100vh;
  
}