.signOutButton:hover {
    cursor: pointer;
    color: #D7DF22;
    font-weight: bolder;
}

.navbarContainer {
    padding: 0 !important;
}

.navContainer {
    display: flex !important; 
    flex-direction: column !important;
    width: 100%;
}
